*{
  margin: 0;
  padding: 0;
  -webkit- box-sizing: border-box;
  -moz- box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background: url(../imagenes/fondo4.jpg);
  -webkit- background-size: cover;
  background-size: auto;
  background-attachment: fixed;
  font-family: Roboto;
}


.iconos{
  width: 84%;
  left: 7%;
  right: 7%;
  height: 80px;
  position: fixed;
  top: 70px;
  background: #649DDD;
  opacity: 0.8;
}

.botones{
	width: 40px;
	height: 40px;
  top: 25px;
	position: relative;
  padding-left: 6px;
  padding-right: 6px;
  left: 10%;
  background: none;
  cursor: pointer;
  border: none;
  border-radius: 6px;

}

.a1{
	background-image: url(../imagenes/bold.png);
	background-size:  100% 100%;
}

.a2{
	background-image: url(../imagenes/italic-text.png);
	background-size:  100% 100%;
}

.a3{
	background-image: url(../imagenes/underline.png);
	background-size:  100% 100%;
}

.a4{
	background-image: url(../imagenes/normal.png);
	background-size:  100% 100%;
}

.a5{
	background-image: url(../imagenes/gotaAzul.png);
	background-size:  100% 100%;
}

.a6{
	background-image: url(../imagenes/bucketBlue.png);
	background-size:  100% 100%;
}

.a7{
	background-image: url(../imagenes/image.png);
	background-size:  100% 100%;
}

.a8{
	background-image: url(../imagenes/gotaRoja.png);
	background-size:  100% 100%;
}
.a9{
	background-image: url(../imagenes/bucketRed.png);
	background-size:  100% 100%;
}

.a10{
	background-image: url(../imagenes/des.png);
	background-size:  100% 100%;
}

.a11{
	background-image: url(../imagenes/res.png);
	background-size:  100% 100%;
}

.a12{
	background-image: url(../imagenes/insert.png);
	background-size:  100% 100%;
}

.a13{
	background-image: url(../imagenes/save.png);
	background-size:  100% 100%;
}

.ht input{
	position: relative;
	margin-top:3px;
	width: 80px;
	height: 40px;
	left: 100px;
  top:630px;
  cursor: pointer;
}



.encabezado{
  position: absolute;
  width: 100%;
  height: 50px;
  /* bottom: 20px; */
  background: #E6E4E6;
  opacity: 0.5;
  /* bottom: 730px; */
}


.salir{
  float: right;
  position: relative;
  bottom: -10px;
  right: 15px;
  height: 30px;
  width: 90px;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  border-right: 2px solid red;
  border-left: 2px solid red;
  transition: all .4s ease;
  cursor: pointer;
  background: none;
}

.salir{
  letter-spacing: 1px;
}

.salir:hover{
  border-left: 4px solid blue;
  border-right:4px solid blue;
}

#editar{
  position: absolute;
  width: 84%;
  top: 150px;
  height: 550px;
  border: 1px solid #000;
  background: #F0F0F0;
  /* max-width: 1490px; */
  left: 7%;
  right: 7%;
}
