*{
  margin: 0;
  padding: 0;
  -webkit- box-sizing: border-box;
  -moz- box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background: url(../imagenes/fondo4.jpg);
  -webkit- background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  font-family: Roboto;
}

.conte{
  background: #7A777A;
  width: 100%;
  max-width: 500px;
  margin: 70px auto;
  color: white;
  border-radius: 10px;
  opacity: 0.85;
}

a:link{
    text-decoration: none;
    color: black;
}

.conte .cambio{
  position: relative;
  top: 10px;
  left: 390px;
  height: 25px;
  width: 100px;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  border-right: 2px solid red;
  border-left: 2px solid red;
  transition: all .5s ease;
  cursor: pointer;
}

.conte .cambio span{
  letter-spacing: 1px;
}

.conte .cambio:hover{
  border-left: 2px solid blue;
  border-right: 2px solid blue;
}

.conte h2{
  margin: 0 0 28px 0;
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
}

.conte input[type="text"],
.conte input[type="password"],
.conte input[type="email"] {
  outline: none;
  background: rgba(0,0,0,0.5);
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: #FFF;
  border: none;
  border-radius: 2px;
  border-bottom: 4px solid #7fffd4;
  font-family: Roboto;
  font-size: 20px;
  margin: 0 0 20px 0;
  text-align: center;
}

.conte input[type="text"]:focus,
.conte input[type="password"]:focus,
.conte input[type="email"]:foncus{
  border-bottom: 4px solid yellow;
}

.conte input[type="submit"]{
  background: #FF851B;
  color: #FFF;
  border: none;
  width: 100%;
  padding: 10px 0;
  font-weight: normal;
  font-family: Roboto;
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
}

.conte input[type="submit"]:hover{
  background: rgba(0, 117, 217, 0.5);
}

.conte .olvidar{
  background: rgba(0, 117, 217, 0.5);
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.conte .olvidar a{
  color: #FFF;
  text-decoration: none;
  font-size: 16px;
}

.conte .global{
  padding: 40px;
  display: none;
}

.conte .global:nth-child(3){
  display: block;
}



.tercero{
  -webkit- background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  font-family: Roboto;
}


.encabezado{
  width: 100%;
  height: 30px;
  bottom: 20px;
  background: #E6E4E6;
  opacity: 0.5;
}

.user{
  position: relative;
  float: right;
  top: 2px;
  right: 100px;
  height: 25px;
  width: 100px;
  font-size: 15px;
  line-height: 25px;
  font-size: 20px;
  text-align: center;
}




.salir{
  float: right;
  position: relative;
  bottom: 30px;
  height: 30px;
  width: 90px;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  border-right: 2px solid red;
  border-left: 2px solid red;
  transition: all .4s ease;
  cursor: pointer;
  background: none;
}

.salir{
  letter-spacing: 1px;
}

.salir:hover{
  border-left: 4px solid blue;
  border-right:4px solid blue;
}





.nuevo{
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: white;
  background: url(../imagenes/wor.png);
  background-size: cover;
  top: 200px;
  left: 180px;
}

.nuevo p, .reciente p, .otro p, .batman p{
  position: relative;
  font-size: 25px;
  font-family: Roboto;
  left: 20px;
  top: 35px;
}

.nuevo:hover{
  background: url(../imagenes/wor.png);
  -webkit- background-size: cover;
  background-size: cover;
  transition: all .5s ease;
  cursor: pointer;
  opacity: 0.8;
}


.reciente{
  position: absolute;
  width: 200px;
  height: 300px;
  background: url(../imagenes/rec.png);
  background-size: cover;
  top: 200px;
  left: 500px;
}

.reciente:hover{
  background-size: url(../imagenes/rec.png);
  -webkit- background-size: cover;
  background-size: cover;
  transition: all .5s ease;
  cursor: pointer;
  opacity: 0.8;
}

.otro{
  position: absolute;
  width: 200px;
  height: 300px;
  background: url(../imagenes/doc.png);
  -webkit- background-size: cover;
  background-size: cover;
  top: 200px;
  left: 800px;
}

.otro:hover{
  background: url(../imagenes/doc.png);
  -webkit- background-size: cover;
  background-size: cover;
  transition: all .5s ease;
  cursor: pointer;
  opacity: 0.8;
}


.batman{
  position: absolute;
  width: 200px;
  height: 300px;
  background: url(../imagenes/comp.png);
  -webkit- background-size: cover;
  background-size: cover;
  top: 200px;
  left: 1120px;
}

.batman:hover{
  background: url(../imagenes/comp.png);
  -webkit- background-size: cover;
  background-size: cover;
  transition: all .5s ease;
  cursor: pointer;
  opacity: 0.8;
}
/*estilos de alerta*/
.bg{
	width: 100%;
	height: 100%;
	float: left;
	position: fixed;
	background: rgba(0,0,0,.5);
	z-index: 9999999;
	display: none;
	justify-content: center;
}
	.ver-bg{
		display: block !important;
	}

	.ventana, .ventana{
		width: 90%;
		/*height: 140px;*/
		float: left;
		position: fixed;
		background: #FA5016;
		z-index: 9999999;
		margin-right: 5%;
    margin-left: 5%;
		/*left: -25%;*/
		/* display: none; */
		padding: 10px;
		padding-right: 20px;
		padding-left: 20px;
		box-sizing: border-box;
		text-align: center;
		color: black;
		border-radius: 5px;
		box-shadow: 0px 2px 18px 0px rgba(0,0,0,.7);
		top: -100%;
		transition: .9s ease-in-out;

	}

		.ver-ventana{
			display: block !important;
		}

		.ventana>h2, .ventana>h2{
			margin-top: 8px;
			margin-bottom: 8px;
			color: #400000 !important;
		}
/*fin estilos de alerta*/


.select{
  width: 400px;
  position: relative;
  left: 37%;
  top: 15%;display: none;
}

.nav ul li{
  text-align: center;
  font-size: 40;
  text-decoration: none;
  display: block;
  text-decoration-color: black;
}

.nav li a{
  padding: 20px 30px;
  border-bottom: 6px solid grey;
  background: #FFF;
  display: block;
}

.nav li a:hover{
  background: grey;
}

.otro button, .batman button{
  position: relative;
  width: 200px;
  height: 300px;bottom: 60px; 
  background: none;
  border:  none;
  color: #fff;
}

.otro button:hover, .batman button:hover{
  cursor: pointer;
}

#mensaje{
    width: 100%;
    height: 80px;
    background: #e74c3c;
    color: white;
    position: fixed;
    top: -80px;
    left: 0px;
    line-height: 80px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Arial';
    z-index: 5;
} 